<div class="card border-0">
  {% assign sorted_axes = site.research | sort: "order" %}
  {% for axis in sorted_axes %}
  {% if axis.url %}
  <div class="row g-0 p-1 m-1">
    <div class="d-flex align-items-center col-12 col-sm-3">
      <img src="{{ axis.image }}" class="img-fluid rounded-start rounded" alt="{{ axis.title }}">
    </div>
    <div class="col-12 col-sm-9">
      <div class="card-body">
        <h5 class="card-title">{{ axis.title }}</h5>
        <p class="card-text">{{ axis.short_desc }}</p>
        <a href="{{ axis.url }}" class="btn btn-light">More Details</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>