<footer class="py-2">
    <div class="container">
      

      <p class="p-10 m-2 text-center">
        <a href="https://github.com/stergioc" target="_blank"><img src="/assets/img/github.svg" alt="Bootstrap" width="18" height="18" fill="#333"></a>
        <a href="https://www.linkedin.com/in/stergioc/" target="_blank"><img src="/assets/img/linkedin.svg" alt="Bootstrap" width="18" height="18" fill="#333"></a>
        <a href="https://scholar.google.com/citations?user=-h5w30sAAAAJ&hl=en" target="_blank"> <img src="/assets/img/scholar.svg" alt="Bootstrap" width="18" height="18" fill="#333"></a>
        <a href="https://twitter.com/Cstergios" target="_blank"> <img src="/assets/img/twitter.svg" alt="Bootstrap" width="18" height="18" fill="#333"> </a>
        </p>

        <p class="p-10 m-2 text-center">SC &copy; {{ site.time | date: '%Y' }}
        </p>
      
    </div>
</footer>