<div class="row">

  {% for category in site.categories reversed %}

  <p class="h5" id="{{ category | first }}">{{ category | first }}</p>

  <ul class="list-group">
    {% for post in category.last %}
    <a href="{{post.url}}" class="btn btn-light">
      <li class="list-group-item text-left d-inline-block">
        <div>
          <img src="{{post.image}}" class="w-25 img-thumbnail border-0 align-middle">
          <span class="d-inline-block w-75 p-2 text-truncate align-middle"> {{post.title}} </span>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>

  {% endfor %}

</div>