<h1 class="mb-3 mt-4 display-4" style="font-size: x-large;">Latest Publications</h1>

<div class="list-group">
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts limit:4 %}

    <a href="{{post.url}}" class="btn-light mb-3">

        <div class="row g-0 p-1 m-1">
            <div class="col-12 col-sm-4 d-flex align-items-center">
                <img src="{{ post.image }}" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-12 col-sm-8">
                <div class="card-body">
                    <span class="card-title">{{ post.title }}</span>
                </div>
            </div>
        </div>

    </a>


    {% endfor %}
</div>